/* body {
	background-color: aqua;
}

.navbar {
	background-color: rgba(235, 20, 163, .4);
} */

body {
	padding-top: 70px;
	background-color: #384e64;
}
.jumbotron {
	color: #2c3e50;
	background: black;
}
.navbar-inverse {
	background: #2c3e50;
	color: white;
	font: 32px;
}
.navbar-inverse .navbar-brand,
.navbar-inverse a {
	color: rgba(255, 255, 0, 0.788);
}
.navbar-inverse .navbar-nav > li > a {
	color: rgba(255, 255, 0, 0.788);
	font: 20px;
}

span {
	color: rgba(255, 255, 0, 0.788);
	font-weight: 700;
}
